{% extends "base.html" %}
{% from "macros/form_field.html" import form_field %}
{% block title %}Skill Validation{% endblock %}
{% block content %}
<h2>Hey {{ current_user.name }}, get your skill validated!</h2>


    User skillset: {{ current_user.skills }}
    {% set stato='false' %}
{#    Qui mi vado a prendere tutte le schill che l'utente ha dichiarato di possedere#}
    <select class="form-control form-control-chosen-required">
    {% for lol in current_user.kskills %}
        <option> {{ lol.skillName }}</option>
    {% endfor %}
    </select>

    {% for verificaflagskill in current_user.kskills %}
        {% if verificaflagskill.status %}

        {% endif %}
    {% endfor %}





    <br><br>
    <a href="{{ url_for('quiz.index' )}}" class="btn btn-primary btn-lg " onclick="disableButton(this)"  role="button" aria-disabled="{{ stato }}">Go</a>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>
    <script>$(".form-control-chosen-required").chosen({disable_search_threshold: 10});</script>
    <script type = 'text / javascript' src = 'http: //code.jquery.com/jquery.min.js'> </script>
{% endblock %}