{% extends "base.html" %}
{% from "macros/form_field.html" import form_field %}
{% block content %}

<div class="jumbo">
      {% for category, message in get_flashed_messages(with_categories=true) %}
      <div align="center" class="alert alert-danger">
        {{ message }}
      </div>
      {% endfor %}
      <form class="form" action="." method="post">
        <div align="center"><h3>{{ question_number }}.  {{ question }}</h3></div>
   	<br>
	<div align="left">
        {% for option in options  %}
        <input name="answer" type="submit" class="alert alert-primary" value="{{option}}">&nbsp;&nbsp;
        {% endfor %}
        </div>
      </form>
      <br><br>
      &nbsp;&nbsp<div id="question_no">Question: {{ question_number }} / 10</div>
      <div id="score">Your Score: {{ score }} / 40</div>&nbsp;&nbsp
    </div>

{% endblock %}