{% extends "base.html" %}
{% from "macros/form_field.html" import form_field %}
{% block title %}Quiz{% endblock %}
{% block content %}

<div class="jumbo">



    {% if score %}
    {% if (score * 100 / 40) > 75 %}
      <div align="center" class="alert alert-success">
	<h3>Congragulations.....</h3><br>        
	You have successfully completed the Quiz.
	<br>
        Your Score is: {{score}}
      </div>
    </div>
    {% else %}

        <div align="center" class="alert alert-danger">
	<h3>Fail.....</h3><br>
	You have failed the Quiz.
	<br>
        Your Score is: {{score}}
      </div>
    </div>
    {% endif %}
    {% endif %}




{% endblock %}
