{% extends "base.html" %}
{% from "macros/form_field.html" import form_field %}
{% block title %}Quiz{% endblock %}
{% block content %}

<div class="jumbo">



    {% if session["mark"] %}
    {% if (session["mark"] * 100 / 40) > 75 %}
      <div align="center" class="alert alert-success">
	<h3>Congratulations...</h3><br>
	You have successfully completed the Quiz.
	<br>
        Your Score is: {{session["mark"]}}
      </div>
    </div>
    {% else %}

        <div align="center" class="alert alert-danger">
	<h3>Failed...</h3><br>
	You have failed the Quiz.
	<br>
        Your Score is: {{session["mark"]}}
      </div>
    </div>
    {% endif %}
    {% endif %}




{% endblock %}
