{% extends "base.html" %}
{% from "macros/form_field.html" import form_field %}
{% block title %}Log in{% endblock %}
{% block content_title %}Log in{% endblock %}
{% block content %}
<form action="{{ url_for('login', next=request.args.get('next','')) }}" class="form" method="post">
{{ form_field(form.email) }}
{{ form_field(form.password) }}
<div class="form-group">
	<div class="col-md-offset-3 col-md-9">
		<div class="form-check">
			<label>{{ form.remember_me() }} Remember me</label>
		</div>
	</div>
</div>
<div class="form-group">
	<div class="col-md-offset-3 col-md-9">
		<button type="submit" class="btn btn-secondary">Log in</button>
		<a class="btn" href="{{ url_for('homepage') }}">Cancel</a>
	</div>
 </div>
</form>
{% endblock %}